* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(to top, #888888, #ffffff);
    background-size: 100% 100%;
    background-attachment: fixed;
    background-position: center bottom;
}

.titulo_imagen {
    display: flex;
    justify-content: space-around;
}

.titulo_imagen h2 {
    margin-top: 10px;
}

.imagen {
    width: 50px;
    margin-left: 20px;
}

.eventos {
    border-radius: 20px;
    margin: 20px 20px;
    padding: 25px;
    width: 45vh;
    background-color: rgb(255, 255, 255);
    box-shadow: inset 0px 0px 20px 5px black;
}

.formulario form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formulario input {
    border: 1px solid lightblue;
    border-radius: 10px;
    width: 200px;
    text-align: center;
    margin: 5px;
    height: 30px;
}

.formulario #agregar {
    background-color: rgb(231, 52, 231);
    width: 200px;
    height: 30px;
    padding: 5px;
    margin-top: 15px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    font-size: 10px;
}

#agregar:hover {
    background: rgb(212, 0, 255);
}

.derechos_autor a {
    font-size: 10px;
    margin-top: 10px;
}

.lista_eventos_2 {
    border: 2px solid black;
    border-radius: 10px;
    display: auto;
    box-shadow: inset 0px 0px 20px 5px black;
}

.evento {
    display: auto;
    display: flex;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    gap: 6rem;
    border: 2px solid black;
    border-radius: 20px;
    padding: 20px;
    margin: 10px;
    width: 600px;
}

.dias {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    border-radius: 10px;
}

.dias_faltantes {
    color: white;
    font-size: 1.5rem;
}

.texto {
    display: flex;
    flex-direction: column;
}

.nombre_evento {
    width: 100px;
    height: 50px;
    overflow: auto;
}

.eliminar {
    border: none;
    width: 100px;
    height: 50px;
    border-radius: 5px;
    background: #39ff76;
    cursor: pointer;
}

.eliminar:hover {
    background: red;
}